services:
  kimai-aggregator:
    image: ghcr.io/localzet/kimai-aggregator:latest
    container_name: kimai-aggregator
    restart: always
    environment:
      - NODE_ENV=production
    networks:
      - external

networks:
  external:
    name: external
    external: true

